<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">email</th>
      <th scope="col">Attend</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>test01</td>
      <td>test01@g.com</td>
      <td>true</td>
    </tr>
    <tr>
      <td scope="row">test02</td>
      <td>test02@g.com</td>
      <td>false</td>
    </tr>
    <tr>
      <td>test03</td>
      <td>test03@g.com</td>
      <td>true</td>
    </tr>
    <tr>
      <td>test04</td>
      <td>test04@g.com</td>
      <td>false</td>
    </tr>
  </tbody>
</table>