<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">email</th>
      <th scope="col">Attend</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.listUserData}}
    <tr>
      <td>{{username}}</td>
      <td>{{email}}</td>
      <td>{{attend}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>